div {
  background-color: #BFFFF1;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  width: 60%;
  margin: 0 auto 0 auto

}

h2 {
  font-family: 'Luckiest Guy', cursive;
}

h3 {
  font-family: 'Montserrat', sans-serif;
}

h4 {
  font-family: 'Ubuntu',serif;
}

p{
    font-family: 'Nunito', sans-serif;
}

table{
 margin-left: auto;
 margin-right: auto;
 text-align: left;
 font-family: 'Nunito', sans-serif;
}

hr{
  border: solid 6px;
  color:#EAF6F6;
}

.top-container {
  background-color: #E4F9F5;
  position: relative;
  padding-top: 2em;
  padding-bottom: 2em;
}

.top-cloud {
  position: relative;
  right: -30%;
  top: 2em;
}

.hello{
  font-family: 'Montserrat', cursive;
  font-weight: 500;
}

.big{
  font-size: 250%;
  /*font-family: cursive;*/
}

.pro {
  text-decoration: underline;
}

.bottom-cloud {
  position: relative;
  left: -30%;
  bottom: 2em;
}

.intro{
  font-size: 1.2em;
  width: 60%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: auto;
}

.schools{
  font-size: 1.2em;
}

.video-wraper {
  position: relative;
  width: 60%;
  padding-bottom: 33.75%; /* 16:9 */
  height: 0;
  margin-left: auto;
  margin-right: auto;
}
.video-wraper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


.ProjectDiscriptions{
  width: 60%;
  font-size: 1em;
  margin-left: auto;
  margin-right: auto;
}


.skills{
  color: #1B03A3;
  line-height: 2em;
}


.btn {
background: #11cdd4;
background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
background-image: -o-linear-gradient(top, #11cdd4, #11999e);
background-image: linear-gradient(to bottom, #11cdd4, #11999e);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: Arial;
color: #ffffff;
font-size: 1em;
padding: 10px 20px 10px 20px;
text-decoration: none;

}

.btn:hover {
background: #30e3cb;
background-image: -webkit-linear-gradient(top, #30e3cb, #2bc48d);
background-image: -moz-linear-gradient(top, #30e3cb, #2bc48d);
background-image: -ms-linear-gradient(top, #30e3cb, #2bc48d);
background-image: -o-linear-gradient(top, #30e3cb, #2bc48d);
background-image: linear-gradient(to bottom, #30e3cb, #2bc48d);
text-decoration: none;
}
.bottom-container{
  background-color: #66bfbf;
  padding: 50px 0 20px;
  margin-top: 30px;
}
a{
  color: #11666E;

}
a:hover{
  color: #ff0000

}
.footer-link{
  text-decoration:none;
}
.copyright{
  color: #eaf6f6;
  font-size: 1em;
  padding: 20px 0;
}
